.table {
	width: 100%;
	border-collapse: collapse;
	background-color: #fff;
}

.table :global(.is-link) {
	text-decoration: none;
}

.table th,
.table td {
	padding: 12px 16px;
	border: 1px solid #e5e5e5;
	text-align: left;
	vertical-align: top;
}