<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.3/phpunit.xsd"
         bootstrap="tools/testing/phpunit/bootstrap.php"
         colors="true"
>
    <testsuites>
        <testsuite name="wordpress">
            <directory suffix="Test.php">plugins</directory>
            <!-- <directory suffix="Test.php">premium/plugins</directory> -->
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">plugins/*/src</directory>
            <!-- <directory suffix=".php">premium/plugins/*/src</directory> -->
        </include>
    </coverage>
    <php>
        <const name="RUNNING_UNIT_TESTS" value="true"/>
    </php>
</phpunit>
