

.status {
	display: inline-block;
	padding: 4px 8px;
	border-radius: 4px;
	font-size: 12px;
	font-weight: 500;
}

.pending {
	background-color: #eaeaea;
	color: #2e353b;
}

.confirmed {
	background-color: #c0feb5;
	color: #147602;
}

.cancelled {
	background-color: #ffb8bf;
	color: #7a0808;
}

.noshow {
	background-color: #ffeaac;
	color: #933600;
}

.actions-table-cell > button:not(:first-child) {
	opacity: 0;
	transition: opacity 0.2s ease;
}

.actions-table-cell:hover > button {
	opacity: 1;
}
