.table {
	width: 100%;
	border-collapse: collapse;
	background-color: #fff;
}

.table :global(.is-link) {
	text-decoration: none;
}

.table th,
.table td {
	padding: 12px 16px;
	border: 1px solid #e5e5e5;
	text-align: left;
	vertical-align: top;
}

.empty {
	text-align: center;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	/* padding: 50px 16px; */
}

.empty-icon {
	font-size: 24px;
	color: #bcbcbc;
	width: min( 80px, 50vw );
	height: min( 80px, 50vw );
	vertical-align: middle;
	fill: currentColor;
	overflow: hidden;
}

.status {
	display: inline-block;
	padding: 4px 8px;
	border-radius: 4px;
	font-size: 12px;
	font-weight: 500;
}

.pending {
	background-color: #eaeaea;
	color: #2e353b;
}

.confirmed {
	background-color: #c0feb5;
	color: #147602;
}

.cancelled {
	background-color: #ffb8bf;
	color: #7a0808;
}

.noshow {
	background-color: #ffeaac;
	color: #933600;
}

.actions-table-cell > button:not(:first-child) {
	opacity: 0;
	transition: opacity 0.2s ease;
}

.actions-table-cell:hover > button {
	opacity: 1;
}
