:root {
	--wpappointments-large-gap: 16px;
	--wpappointments-main-gap: 16px;
	--wpappointments-layout-header-height: 60px;
}

@media screen and ( min-width: 782px ) {
	:root {
		--wpappointments-large-gap: 40px;
		--wpappointments-main-gap: 24px;
	}
}

.wpappointments-admin #wpcontent {
	padding-left: 0;
}

.wpappointments-admin #wpbody-content {
	padding-top: var( --wpappointments-layout-header-height );
}

.wpappointments-admin #wpbody-content > .notice {
	margin-top: 30px;
	margin-left: var( --wpappointments-large-gap );
	margin-right: var( --wpappointments-large-gap );
}
