.dayLabel {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 160px;
	height: 40px;
	text-transform: capitalize;
}

.copyToAllDays {
	width: 100%;
	display: block;
	margin-bottom: 20px;
	text-align: left;

	&.components-button {
		padding: 0;
	}
}
