.field :global(.components-input-control__backdrop) {
	border-color: #dedede !important;
}

.field :global(.components-textarea-control__input) {
	border-color: #dedede;
	border-radius: 4px;
	padding: 8px 12px;
	font-size: 13px;
}

.field-label {
	font-size: 11px;
	font-weight: 500;
	line-height: 1.4;
	text-transform: uppercase;
	display: inline-block;
	margin-bottom: 8px;
	padding: 0px;
}

.field-hidden-label {
	position: absolute;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.field-label-invisible {
	visibility: hidden;
}

.field-full-width {
	flex: 1;
}

.field-message {
	margin: 5px 0;
}

.field-error {
	color: red;
}

.field-help {
	font-size: 12px;
	margin-bottom: 8px;
	color: #757575;
}
