.steps-header {
	display: flex;
}

.steps-header-label {
	flex: 1;
	text-align: center;
	border-bottom: 1px solid rgba(206, 206, 206, 0.2);
	padding: 10px 2px;
}

.steps-header-label-active {
	position: relative;
}

.steps-header-label-active::after {
	content: '';
	position: absolute;
	bottom: -1px;
	left: 0;
	right: 0;
	height: 3px;
	background-color: #41c611;
}

.steps-header-label-clickable {
  cursor: pointer;
}

.steps-header-label-clickable:hover {
  background-color: rgba(206, 206, 206, 0.2);
}